h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 700px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__wrap {
    height: 100%;
    max-width: 1260px;
    margin: 0 auto; }
  .header__top {
    width: 1260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 24px; }
  .header__link {
    padding-bottom: 8px;
    border-bottom: 1px solid #fff; }
  .header__title-wrap {
    position: absolute;
    max-width: 350px;
    bottom: 165px; }
  .header__title-wrap::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 2px;
    top: -15px;
    background: #fff;
    border-radius: 2px; }
  .header__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: #fff; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav__item {
  padding: 8px 24px;
  margin: 0 50px; }
  .nav__item--active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__title, .info__link {
    max-width: 600px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #000; }
  .info__link {
    text-transform: none;
    color: #0075ff; }
  .info__text {
    max-width: 600px; }
  .info__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos--left .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos--left .photos__img:last-child {
    width: calc(67% - 10px); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap; }
  a:hover {
    color: #9fadc2; }

.section {
  max-width: 1260px;
  margin: 0 auto;
  padding: 100px 0; }

.sechion__title {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: #000; }
  .sechion__title::before {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
